asgiref
astroid
certifi
charset-normalizer
dill
Django
djangorestframework
djangorestframework-simplejwt
idna
imagekitio
isort
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
Pillow
platformdirs
PyJWT
pylint
pytz
redmail
requests
sqlparse
tomli
tomlkit
urllib3
wrapt
